{% extends 'base.html.twig' %}

{% block title %}Hello ChooseCrudController!{% endblock %}

{% block body %}
	
	<a href="{{ path('index.crud') }}"><button class="btn btn-primary">Normal Crud</button></a>
	<a href="{{ path('relatition.index') }}"><button class="btn btn-primary">Relatition Ship (crud)</button></a>
{% endblock %}
